USE [DbCelular]
GO
/****** Object:  Table [dbo].[REPARACION_REPUESTO]    Script Date: 22/11/2024 17:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPARACION_REPUESTO](
	[idReparacion] [int] NOT NULL,
	[idRepuesto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idReparacion] ASC,
	[idRepuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[REPARACION_REPUESTO]  WITH CHECK ADD  CONSTRAINT [FK_REPARACION_REPUESTO_REPARACION] FOREIGN KEY([idReparacion])
REFERENCES [dbo].[REPARACIONES] ([idReparacion])
GO
ALTER TABLE [dbo].[REPARACION_REPUESTO] CHECK CONSTRAINT [FK_REPARACION_REPUESTO_REPARACION]
GO
ALTER TABLE [dbo].[REPARACION_REPUESTO]  WITH CHECK ADD  CONSTRAINT [FK_REPARACION_REPUESTO_REPUESTO] FOREIGN KEY([idRepuesto])
REFERENCES [dbo].[REPUESTOS] ([idRepuesto])
GO
ALTER TABLE [dbo].[REPARACION_REPUESTO] CHECK CONSTRAINT [FK_REPARACION_REPUESTO_REPUESTO]
GO
