USE [DbCelular]
GO
/****** Object:  Table [dbo].[COLA_REPARACIONES]    Script Date: 22/11/2024 17:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLA_REPARACIONES](
	[idCola] [int] NOT NULL,
	[idReparacion] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[bd_est] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCola] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COLA_REPARACIONES] ADD  DEFAULT ((1)) FOR [bd_est]
GO
ALTER TABLE [dbo].[COLA_REPARACIONES]  WITH CHECK ADD  CONSTRAINT [FK__COLA_REPA__idRep__5DCAEF64] FOREIGN KEY([idReparacion])
REFERENCES [dbo].[REPARACIONES] ([idReparacion])
GO
ALTER TABLE [dbo].[COLA_REPARACIONES] CHECK CONSTRAINT [FK__COLA_REPA__idRep__5DCAEF64]
GO
