USE [DbCelular]
GO
/****** Object:  Table [dbo].[CELULAR]    Script Date: 22/11/2024 17:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CELULAR](
	[idCliente] [int] NOT NULL,
	[idModelo] [int] NOT NULL,
	[bd_est] [int] NOT NULL,
	[idColor] [int] NULL,
	[idCelular] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__CELULAR__688D7B57] PRIMARY KEY CLUSTERED 
(
	[idCelular] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CELULAR] ADD  DEFAULT ((1)) FOR [bd_est]
GO
ALTER TABLE [dbo].[CELULAR]  WITH CHECK ADD  CONSTRAINT [FK__CELULAR__idClien__412EB0B6] FOREIGN KEY([idCliente])
REFERENCES [dbo].[CLIENTE] ([idCliente])
GO
ALTER TABLE [dbo].[CELULAR] CHECK CONSTRAINT [FK__CELULAR__idClien__412EB0B6]
GO
ALTER TABLE [dbo].[CELULAR]  WITH CHECK ADD FOREIGN KEY([idModelo])
REFERENCES [dbo].[MODELO_CELULAR] ([idModelo])
GO
ALTER TABLE [dbo].[CELULAR]  WITH CHECK ADD  CONSTRAINT [FK_CELULAR_COLORES] FOREIGN KEY([idColor])
REFERENCES [dbo].[COLORES] ([idColor])
GO
ALTER TABLE [dbo].[CELULAR] CHECK CONSTRAINT [FK_CELULAR_COLORES]
GO
