USE [DbCelular]
GO
/****** Object:  Table [dbo].[REPARACION_TECNICO]    Script Date: 22/11/2024 17:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPARACION_TECNICO](
	[idReparacion] [int] NOT NULL,
	[idTecnico] [int] NOT NULL,
	[fecha_asignacion] [datetime] NOT NULL,
	[bd_est] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idReparacion] ASC,
	[idTecnico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[REPARACION_TECNICO] ADD  DEFAULT ((1)) FOR [bd_est]
GO
ALTER TABLE [dbo].[REPARACION_TECNICO]  WITH CHECK ADD  CONSTRAINT [FK__REPARACIO__idRep__59063A47] FOREIGN KEY([idReparacion])
REFERENCES [dbo].[REPARACIONES] ([idReparacion])
GO
ALTER TABLE [dbo].[REPARACION_TECNICO] CHECK CONSTRAINT [FK__REPARACIO__idRep__59063A47]
GO
ALTER TABLE [dbo].[REPARACION_TECNICO]  WITH CHECK ADD FOREIGN KEY([idTecnico])
REFERENCES [dbo].[TECNICO] ([idTecnico])
GO
