USE [DbCelular]
GO
/****** Object:  Table [dbo].[REPARACIONES]    Script Date: 22/11/2024 17:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPARACIONES](
	[idReparacion] [int] IDENTITY(1,1) NOT NULL,
	[idCliente] [int] NOT NULL,
	[idCelular] [int] NOT NULL,
	[idEstado] [int] NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
	[bd_est] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idReparacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[REPARACIONES] ADD  DEFAULT ((1)) FOR [bd_est]
GO
ALTER TABLE [dbo].[REPARACIONES]  WITH CHECK ADD  CONSTRAINT [FK_REPARACIONES_CELULAR] FOREIGN KEY([idCelular])
REFERENCES [dbo].[CELULAR] ([idCelular])
GO
ALTER TABLE [dbo].[REPARACIONES] CHECK CONSTRAINT [FK_REPARACIONES_CELULAR]
GO
ALTER TABLE [dbo].[REPARACIONES]  WITH CHECK ADD  CONSTRAINT [FK_REPARACIONES_CLIENTE] FOREIGN KEY([idCliente])
REFERENCES [dbo].[CLIENTE] ([idCliente])
GO
ALTER TABLE [dbo].[REPARACIONES] CHECK CONSTRAINT [FK_REPARACIONES_CLIENTE]
GO
ALTER TABLE [dbo].[REPARACIONES]  WITH CHECK ADD  CONSTRAINT [FK_REPARACIONES_ESTADO] FOREIGN KEY([idEstado])
REFERENCES [dbo].[ESTADO] ([idEstado])
GO
ALTER TABLE [dbo].[REPARACIONES] CHECK CONSTRAINT [FK_REPARACIONES_ESTADO]
GO
