USE [DbCelular]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 22/11/2024 17:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[Usuario] [varchar](50) NOT NULL,
	[idCliente] [int] NULL,
	[idTecnico] [int] NULL,
	[clave] [varchar](50) NOT NULL,
	[bd_est] [int] NOT NULL,
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__USUARIO__645723A6] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ((1)) FOR [bd_est]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK__USUARIO__idClien__6A30C649] FOREIGN KEY([idCliente])
REFERENCES [dbo].[CLIENTE] ([idCliente])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK__USUARIO__idClien__6A30C649]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([idTecnico])
REFERENCES [dbo].[TECNICO] ([idTecnico])
GO
