USE [DbCelular]
GO
/****** Object:  Table [dbo].[ROL_OPCION]    Script Date: 22/11/2024 17:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL_OPCION](
	[idRol] [int] NOT NULL,
	[idOpcion] [int] NOT NULL,
	[bd_est] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idRol] ASC,
	[idOpcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ROL_OPCION] ADD  DEFAULT ((1)) FOR [bd_est]
GO
ALTER TABLE [dbo].[ROL_OPCION]  WITH CHECK ADD FOREIGN KEY([idOpcion])
REFERENCES [dbo].[OPCIONES] ([idOpcion])
GO
ALTER TABLE [dbo].[ROL_OPCION]  WITH CHECK ADD FOREIGN KEY([idRol])
REFERENCES [dbo].[ROL] ([idRol])
GO
